.allTextDetailContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
}

.containerDetailAlbum{
    display: flex;
    border: 3px solid #242424;
    background-color: rgb(24, 24, 24);
    margin-top: 130px;
    margin-left: 100px;
    width: 1300px;
}

.titleDetailAlbum{
    display: flex;
    font-size: 40px;
    color: #dd9202;
    margin-top: 100px;
}

.titleDetailAlbum:hover{
    display: flex;
    font-size: 40px;
    color:#f5f5f5;
    margin-top: 100px;
    background-color: transparent !important;
}

.textDetailAlbum{
    display: flex;
    color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textDetailAlbum:hover{
    display: flex;
    color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent !important;
}

.imageDetailAlbum{
    display: flex;
    width: 41%;
    height: 70%;
}

.trackListDetailAlbumContainer{
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    margin-top: 120px;
    margin-left: 150px;
    font-size: 21px;
    text-align: center;
}

.trackListDetailAlbum{
    display: flex;
    align-self: center;
    color: #dd9202;
}

.trackListDetailAlbum:hover{
    display: inline;
    display: flex;
    align-self: center;
    color: #f5f5f5;
    background-color: transparent !important;
}

.logosDetailAlbumContainer{
    display: flex;
    margin-top: 10px;
}

.imageBragiAlbumDetails{
    display: flex;
    height: 150px;
    width: 150px;
    margin-top: -20px;
}
.imageDeezerAlbumDetails{
    display: flex;
    height: 100px;
    width: 100px;
}

.premiumAdtDetailAlbum{
    display: flex;
    font-size: 13px;
    color: #f5f5f5;
}

.premiumAdtDetailAlbum:hover{
    display: flex;
    font-size: 13px;
    color: #f5f5f5;
    background-color: transparent !important;
}

.premiumAdLinktDetailAlbum{
    display: flex;
    align-self: center;
    margin-top: 10px;
    color: #dd9202;
}

.premiumAdLinktDetailAlbum{
    display: flex;
    align-self: center;
    margin-top: 10px;
    color: #dd9202;
    border-radius: 0px !important;
    border: 2px solid transparent;
    background-color: #242424 !important;
    padding: 5px;
}

.premiumAdLinktDetailAlbum:hover{
    display: flex;
    align-self: center;
    margin-top: 10px;
    color:#242424;
    border: 2px solid #242424;
    background-color:#dd9202 !important;
}

.premiumAdLinktDetailAlbum:active{
    display: flex;
    align-self: center;
    margin-top: 10px;
    color: #dd9202;
    border: 2px solid #242424;
    background-color:#242424 !important;
}