body {
  /* background-image: url(https://i.imgur.com/bOEbx0x.jpeg); */
  background-image: url(https://i.imgur.com/eAftlnl.jpg);
}

#logo {
  filter: invert(45%) sepia(78%) saturate(5357%) hue-rotate(217deg)
    brightness(95%) contrast(85%);
}

a {
  text-decoration: none !important;
  border-radius: 0.5em;
}

a:hover {
  background-color: rgb(193, 218, 250) !important;
  border-radius: 0.5em;
}
