.divContainer {
  display: flex;
  justify-content: center;
}

.audio {
  height: 35px;
  width: 150px;
  margin: auto;
}

.columnArtists {
  /* background-color: rgba(66, 66, 66, 0.651); */
  border: 1px solid rgb(28, 28, 28);
  display: flex;
  overflow: hidden;
  text-align: center;
}

.columnSongs {
  /* background-color: rgba(66, 66, 66, 0.651); */
  border: 1px solid rgb(28, 28, 28);
  display: flex;
  overflow: hidden;
  text-align: center;
}

.columnAlbums {
  /* background-color: rgba(66, 66, 66, 0.651); */
  border: 1px solid rgb(28, 28, 28);
  display: flex;
  overflow: hidden;
  text-align: center;
  margin-top: -4em;
  /* max-width: 250px; */
  /*rgba(2, 2, 53, 0.507);*/
  /* margin-right: 2px; */
  /*rgba(2, 2, 53, 0.507);*/
  /* width: 100px; */
}

.top10button {
  color: #dd9202 !important;
  background-color: #1c1c1c !important;
  border: 2px solid rgba(66, 66, 66, 0.651) !important;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
}

.top10button:hover {
  color: #1c1c1c !important;
  background-color: #dd9202 !important;
}


div {
  margin: 0px;
  padding: 0px;
}

img {
  object-fit: cover;
  width: 151.9px;
  height: 331.7px;
  border-radius: 0px;
}

.container:hover img {
  object-fit: cover;
  width: 201.9px;
  height: 373.1px;
  border-radius: 0px;
  background-color: #1c1c1cd9;
}


label {
  font-size: 10px;
}

h3 {
  /* display: flex;
  align-self: center;
  justify-self: center; */
  text-align: center;
  padding-top: 50px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1c1c1cd9;
  overflow: hidden;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.text {
  color: #dd9202;
  font-size: 20px;
  top: 100%;
  left: 50%;
  width: 500px;
  height: 500px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */

  position: relative;
  margin: 0;
  overflow: hidden;
}

.text p {
  font-size: 21px;
  font-style: italic;
  /* height: 100%; */
  line-height: 1.25;
  left: 100%;
  /* padding: 0; */
  /* text-align: center; */
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}