.audio {
  height: 45px;
  width: 200px;
  display: block;
  background-color: rgba(2, 2, 53, 0.507);
  /* margin-right: 20px; */
}

.column {
  background-color: rgba(2, 2, 53, 0.507);
  width: fit-content;
  border: 1px solid rgba(2, 2, 53, 0.507);
  border-radius: 20px;
  margin: 0 2px;
  height: auto;
}

.divContainer {
  margin-right: 1000px;
  width: 650px;
  height: auto;
  display: flex;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

img {
  border-radius: 20px;
}
