.navFont {
  font-size: larger !important;
}

/* .top10 {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: flex-end;
} */

.linkHomeSong{
  color:  #f5f5f5;
  background-color: transparent !important;
}

.linkHomeSong:hover{
  color: #dd9202 !important;
  background-color: transparent !important;
}

.linkHomeAlbum{
  color:  #f5f5f5;
  background-color: transparent;
}

.linkHomeAlbum:hover{
  color: #dd9202;
  background-color: transparent !important;
}

.searchBar{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-content: center; */
}

.divContainer {
  /* display: flex; */
  box-shadow: none ! important;
}

.inputContainer {
  width: 100%;
  display: block;
}

.searchData {
  /* background-color: rgba(2, 2, 53, 0.507); */
  margin-right: 2px;
  margin-top: 20px;
  background-color: transparent;
  box-shadow: none ! important;
}

.inputTypeHome{
  background-color: transparent !important;
  border: 0px solid transparent;
}


.inputTypeHome::placeholder{
  color: #dd9202 !important;
  background-color: transparent

}

.buttonToSearchHome:hover{
  color: #1c1c1c !important;
  background-color: #dd9202 !important;
}

.artistDiv{
  display: inline-block;
  background-color: #1c1c1c !important;
  }

.artistDiv:hover{
background-color: #1c1c1c !important;
}


