.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 5em 1em 5em;
  padding-top: 100px;
}

.profile {
  padding: 1em;
  display: flex;
  height: 30em;
  width: 40em;
  border-radius: 1em;
  background-color: #dd9202;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile > div > div > p {
  height: 12em;
  overflow: auto;
}

.artist {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
}

.events {
  background-color: rgba(240, 248, 255, 0.344);
  width: fit-content;
  margin-right: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event {
  background-color: aliceblue;
  text-align: center;
  border-radius: 1em;
}

.concerts {
  display: flex;
  background-color: rgba(240, 248, 255, 0.344);
  width: fit-content;
  margin-left: 5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.concert {
  background-color: aliceblue;
  text-align: center;
  border-radius: 1em;
}

.posts {
  width: 100%;
  height: 50em;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.274);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImg {
  border-radius: 100%;
  height: 8em;
  width: 8em;
  border: 1px solid black;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fan {
  display: flex;
  width: 100%;
  max-width: 60em;
  justify-content: center;
}

.followed {
  margin-top: 1em;
  overflow-y: auto;
  width: 50%;
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.followed > h1 {
  color: white;
}

.followedArtist {
  display: flex;
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 15em;
  height: 7em;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(240, 248, 255, 0.484);
}

.followedArtist > section {
  width: 6em;
  font-size: large;
}

.followedArtist > section > p:nth-child(1) {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.followedArtist > section > p:nth-child(2) {
  font-style: italic;
  margin: 0;
  padding: 0;
}

.assistedConcerts {
  margin-top: 1em;
  overflow-y: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.assistedConcerts > h1 {
  color: white;
}

.assistedConcert {
  display: flex;
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 15em;
  height: 7em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.484);
}

.assistedConcert > p {
  margin: 0;
  padding: 0;
}

.assistedConcert > p:nth-child(1) {
  font-weight: bold;
  text-align: center;
}

.assistedConcert > p:nth-child(3) {
  font-size: small;
}
