.container {
  margin-top: 4em;
  display: flex;
  padding: 0 6em 0 6em;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 60px;
}

.containerArtist {
  margin-top: 4em;
  display: flex;
  padding: 0 6em 0 6em;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 60px;
}

.premiumSector {
  /* height: 70em;
  width: 10em; */
  height: 63em;
  width: 500px;
  background-color: #dd9202;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
}

.glowOnHover {
  height: 1008px;
  width: 350px;
  border: none;
  outline: none;
  color: #fff;
  background: #dd9202;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.glowOnHover:before {
  content: 'asdasd';
  background: linear-gradient(45deg, #795300, #b28405, #efb810, #f9db5c, #ffff94, #dd9202);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glowOnHover:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.postsPremium {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.479);
  border-radius: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #dd9202;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.backgroundPostPremium {
  overflow: scroll;
  background-color: white;
  filter: blur(5px);
  margin: 1em;
}

.postSector {
  width: 70%;
  height: 100vh;
  background-color: #dd9202;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -10px;
}

.iconsTop {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -10px;
}

.topArtist {
  /* display: inline-flex; */
  flex-direction: row;
}
.top {
  /* display: inline-flex; */
  flex-direction: row;
}

.newPost {
  height: 100%;
  /* margin-left: 10em; */
  margin-top: -100px;
  /* border: 1px solid black; */
  width: 100%;
}

.imgPost {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  height: fit-content;
}

.posts {
  width: 1000px;
  height: 1000px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background: #333333;
  margin-bottom: 65em;
  border: 2px solid #494949;
  /* margin-left: 50px; */
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.479);
  border-radius: 50px;
  overflow-y: scroll;
}

.posts:-moz-scrollbars-none {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.postsArtist {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: #333333;
  margin-bottom: 65em;
  border: 2px solid #494949;
  /* margin-left: 250px; */
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.479);
  border-radius: 50px;
  overflow-y: scroll;
}

.posts>p {
  justify-self: start;
  font-size: 25px;
  margin-top: 25px;
}

.post {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 250px;
  width: 1750px;
  /* height:1050px; */
  margin-left: -550px;
  /* border: 1px solid black; */
}

.divTextarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkandicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  margin-right: 5em;
}

.textarea {
  width: 500px;
  height: 100px;
}

.buttons {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 100px;
}

.backgroundPost {
  background-color: white;
  margin: 1em;
  /* width:  10px;
  height: 100px; */
}

.backgroundOwnPost {
  background-color: white;
  margin-left: 20%;
  margin-top: 3em;
}

.center {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concertAndEventPost {
  display: flex;
  justify-content: space-between;
}

.newConcert {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.newEvent {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.loadMoreComments {
  text-align: center;
  margin: 0;
  padding: 0;
}

.loadMoreComments:hover {
  text-decoration: underline;
  cursor: pointer;
}

.date {
  opacity: 30%;
  margin-left: 5px;
  color: black;
}

.profileImg {
  /*padding-top: 2px;*/
  /* margin-top: 5px;
  margin-left: 5px; */
  /* align-items: center;
  justify-content: center; */
  /* border-radius: 50%;
  margin-top: 15px; */
  /* display: block; */
  margin-left: -170px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid black;
}

.userName {
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}
.userNameArtist {
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 100px;
}

.profileImgArt {
  /*padding-top: 2px;*/
  /* margin-top: 5px;
  margin-left: 5px; */
  /* align-items: center;
  justify-content: center; */
  /* border-radius: 50%;*/
  /* margin-top: -50px; */
  /* display: block; */
  margin-left: -170px;
  height: 45px;
  width: 45px;
  border: 1px solid black;
}

/* .userNameArt {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.dateArt {
  display: inline-block;
  opacity: 30%;
  margin-left: 5px;
  color: black;
} */

/* .noPremium{
  background-color: #dd9202;
  margin: 1em;
  filter: blur(5px);
} */

.noPremium > *{
  color: #fff;
  background: #dd9202;
  z-index: 0;
  border-radius: 10px;
  filter: blur(5px);
  -webkit-filter: blur(3px);
  background: linear-gradient(45deg, #795300, #b28405, #efb810, #f9db5c, #ffff94, #dd9202);
}

.noPremium:before > * {
  content: 'asdasd';
  background: linear-gradient(45deg, #795300, #b28405, #efb810, #f9db5c, #ffff94, #dd9202);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.noPremium:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}