.container {
  margin-top: 4em;
  display: flex;
  padding: 0 6em 0 6em;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 60px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 2px;
}
.premiumSector {
  /* height: 70em;
  width: 10em; */
  height: 63em;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.749);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
}

.postSector {
  width: 70%;
  height: 100vh;
  background-color: rgba(101, 193, 255, 0.609);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}

.newPost {
  height: 100%;
  margin-left: 10em;
  /* border: 1px solid black; */
  width: 100%;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.posts {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: #333333;
  margin-bottom: 65em;
  border: 2px solid #494949;
  margin-left: 250px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.479);
  border-radius: 50px;
}

.posts > p {
  justify-self: start;
  font-size: 25px;
  margin-top: 25px;
}

.post {
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 250px;
  height: 400px;
  /* border: 1px solid black;
  margin-right: 250px; */
}

.divTextarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkandicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link {
  margin-right: 5em;
}
.textarea {
  width: 500px;
  height: 100px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.backgroundPost {
  background-color: white;
  margin: 1em;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concertAndEventPost {
  display: flex;
  justify-content: space-between;
}

.newConcert {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.newEvent {
  display: flex;
  flex-direction: column;
  width: 45%;
}


.loadMoreComments {
  text-align: center;
  margin: 0;
  padding: 0;
}

.loadMoreComments:hover {
  text-decoration: underline;
}

.date{
  opacity: 30%;
  margin-left: 5px;
}
