.container {
  margin-top: 4em;
  display: flex;
  padding: 0 6em 0 6em;
  text-decoration: none;
  color: white;
  text-align: center;
}
 .icons{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
 }
.premiumSector {
  width: 25%;
  height: 100vmax;
  background-color: rgba(255, 255, 255, 0.749);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.postSector {
  width: 70%;
  height: 100vh;
  background-color: rgba(101, 193, 255, 0.609);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}

.newPost {
  height: 30%;
  /* border: 1px solid black; */
  width: 100%;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.posts {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
  /* width: fit-content;
  height: fit-content; */
  /* border: 1px solid black; */
}

.divTextarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkandicons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link{
  margin-right: 5em;
}
.textarea {
  width: 500px;
  height: 100px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.backgroundPost {
  background-color: white;
  margin: 1em;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concertAndEventPost {
  display: flex;
  justify-content: space-between;
}

.newConcert {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.newEvent {
  display: flex;
  flex-direction: column;
  width: 45%;
}
