.containerSearch{
    
    background-color: #1c1c1c;
    border: #646161 solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.username{
    font-size: 20px;
}