.containerSearch {
}

.containerEachSearch {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: none !important;
  background-color: transparent !important;
}

.containerEachSearch:hover {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: none !important;
  background-color: transparent !important;
}

.searchTitle {
  display: flex;
  background-color: transparent !important;
}

.searchTitle:hover {
  background-color: transparent !important;
}

.username {
  font-size: 20px;
}

.followBtn {
  background-color: #dd9202 !important;
  color: #f5f5f5 !important;
  border: #dd9202 !important;
  height: 39px;
  width: 85px;
}

.followBtn:hover {
  background-color: #f5f5f5 !important;
  color: #dd9202 !important;
  border: #f5f5f5 !important;
  height: 39px;
  width: 85px;
}

.unFollowBtn {
  background-color: transparent !important;
  border-color: #f5f5f5 !important;
}

.unFollowBtn:hover {
  background-color: transparent !important;
  color: #1c1c1c !important;
  background-color: #f5f5f5 !important;
  border-color: #1c1c1c !important;
}

.nameDetailsArtist {
  position: absolute;
  display: flex;
  margin-left: 1450px;
  color: #f5f5f5;
}

.nameDetailsArtist:hover {
  position: absolute;
  display: flex;
  margin-left: 1450px;
  color: #f5f5f5;
  background-color: transparent !important;
}

.imgArtist {
  display: flex;
  margin-left: 1450px;
  margin-top: 60px;
  position: absolute;
  height: 200px;
  width: 200px;
}

.imgArtist:hover {
  display: flex;
  margin-left: 1450px;
  margin-top: 60px;
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: transparent !important;
}
