.background {
  height: 100vh;
  background: linear-gradient(to top, rgb(59, 118, 255), rgb(5, 247, 255));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: white;
  font-size: 60px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: underline;
}
.subtitle{
  color: black;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text{
  color: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
