.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.899);
  padding: 1em;
  border-radius: 0.3em;
  border: 1px solid black;
  box-shadow: 0px 13px 6px -4px rgba(1, 1, 1, 0.3),
    0px -8px 15px -3px rgba(1, 1, 1, 0.3);
  z-index: 2;
}

.form > img {
  margin-left: 45%;
  margin-right: 50%;
  filter: invert(45%) sepia(78%) saturate(5357%) hue-rotate(217deg)
    brightness(95%) contrast(85%);
}

.background {
  border-radius: 1em;
  border-top-right-radius: 100%;
  width: 70%;
  height: 70%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.244);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroller {
  overflow-y: auto;
  padding-right: 2em;
  padding-left: 1em;
  padding-bottom: 5em;
  height: 70%;
  width: 70%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-top-right-radius: 100%;
  position: absolute;
  padding-right: 38%;
}

.falseScroller {
  width: 50%;
  height: 105%;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.feature {
  font-size: 6vw;
  color: white;
  margin-bottom: -0.5em;
}

.feature:nth-child(odd) {
  text-align: left;
}

.feature:nth-child(even) {
  text-align: right;
}

.feature > h2 {
  color: rgb(0, 115, 255);
  font-weight: bold;
}

.feature > h1 {
  background-color: #009dff;
  display: inline;
  border-radius: 100%;
  padding: 0.1em 0.5em 0.1em 0.5em;
  font-weight: bold;
  color: white;
  box-shadow: 4px 4px 0px -3px rgb(101, 175, 254);
}

@media (max-width: 1000px) {
  .background {
    flex-direction: column;
    border-radius: 1em;
  }
  .form {
    min-width: 100%;
  }
  .scroller {
    min-width: 100%;
    padding-bottom: 0;
    position: static;
    border-top-right-radius: 0;
    width: 100%;
    padding-right: 0;
    padding-bottom: 3em;
    margin-top: -1em;
  }
  .falseScroller {
    display: none;
  }
}
