.nav {
  height: 4em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.326);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.logo {
  width: 55px;
  height: 55px;
  filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(75deg)
    brightness(101%) contrast(101%);
}
